.loginpage{
background-image: url(assets/listing.jpg);
background-position: center;
background-size:cover;
}
.login_form{
    padding: 20%;
    padding-left:10%;
    color :rgb(255, 255, 255);
}
.dashboardpage{
    background-image: url(assets/dashboard.jpg);
    background-size:cover;
    background-position: center;
}
.token_add{
    padding: 60px 0px 0px 50px;
}