.loginpage{
background-image: url(assets/listing.jpg);
background-position: center;
background-size:cover;
}
.login_form{
    padding: 20%;
    padding-left:5%;
    color :rgb(255, 255, 255);
    text-align:left;
}
.taskbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.taskbarli{
    float: right;
    border-right:1px solid #bbb;
}
.taskbarli:last-child{
    border-left: none;
}
.taskbarli a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.taskbarli a:hover:not(active){
    background-color: #04AA6D;
}
.active{
    background-color: #04AA6D;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color:#F1F1F1;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    
}
.menuli{
    display:block; 
    color:#000;
    padding: 8px 16px;  
    text-decoration:none;
}
.menuli:hover{
    background-color:#04AA6D; 
    color:white;
}
.menuli.active{
    background-color: #E7FFAC;
    color: white;
}
.dashboardpage{
    background-image: url(assets/dashboard.jpg);
    background-size:cover;
    background-position: center;
}
.dashboard_radio{
  color:white;
}
.token_add{
    margin: 60px 0px 0px 180px;
    padding: 0px 0px 0px 50px;
}
.dashboard_header{
    color: azure;
    margin-left:220px;
}